@media screen and (max-width: 800px) {
  #shop {
    #store {
      grid-template-columns: repeat(2, auto);
      width: auto;

      div {
        cursor: pointer;
        width: 22vw;
      }
      div > img {
        height: 22vw;
        border-radius: 2vw;
      }

      .addTo {
        display: none;
        padding: 5.2vw 2vw;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .filter__section > h5 {
    display: none;
  }

  .filter__section > .filter-propery__container {
    display: none;
  }

  #shop {
    width: 100%;
    margin: 0;
    #store {
      display: grid;
      grid-template-columns: repeat(3, auto);
      width: auto;

      div {
        cursor: pointer;
      }
      div > img {
        height: 24vw;
        border-radius: 2vw;
      }

      .addTo {
        display: none;
        padding: 6.2vw 2vw;
      }
    }
    #head {
      .slider-icon {
        display: inline-block;
      }
    }

    
  }
}

@media screen and (max-width: 600px) {
  .filter__section > .displayFilter {
    top: 18vw !important;
  }
}

@media screen and (max-width: 450px) {
  .filter__section > .displayFilter {
    top: 20vw !important;
  }

  #shop {
    width: 100%;
    margin: 0;
    #store {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 2vw;
      width: auto;
      margin: 0;

      div {
        cursor: pointer;
        width: 35%;
      }
      div > img {
        height: 35vw;
        border-radius: 2vw;
      }

      .addTo {
        display: none;
        padding: 11.8vw 2vw;
      }
    }
  }
}
